# API configuration
REACT_APP_API_URL=http://localhost:8000

# AWS S3 Configuration
REACT_APP_AWS_ACCESS_KEY_ID=your-aws-access-key
REACT_APP_AWS_SECRET_ACCESS_KEY=your-aws-secret-key
REACT_APP_AWS_REGION=your-s3-region
REACT_APP_AWS_BUCKET_NAME=your-s3-bucket-name

# Firebase Configuration
REACT_APP_FIREBASE_API_KEY=your-firebase-api-key
REACT_APP_FIREBASE_AUTH_DOMAIN=your-firebase-auth-domain
REACT_APP_FIREBASE_PROJECT_ID=your-firebase-project-id
REACT_APP_FIREBASE_STORAGE_BUCKET=your-firebase-storage-bucket
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=your-firebase-messaging-sender-id
REACT_APP_FIREBASE_APP_ID=your-firebase-app-id 